
					<!-- Tìm kiếm -->
					<form action="" method="POST" role="form" >
						
						<div class="form-group" >
							<input type="text" class="form-control col-md-11" id="" placeholder="Tim kiếm sản phẩm"><button type="submit" class="btn btn-default col-md-1">Tìm kiếm</button><br><br><br>


						</div>
					</form>
						<!-- END Tìm kiếm -->

						<!-- Button trigger modal -->
						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
							Thêm mới sản phẩm
						</button>

						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Điền thông tin sản phẩm</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										...
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
										<button type="button" class="btn btn-primary">Thêm</button>
									</div>
								</div>
							</div>
						</div>
						<!-- END Modal -->
						

						
						<!-- Product View Table -->
						<h4 class="center_text" style="color: red;text-decoration:underline;">Danh Sách Sản Phẩm </h4>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Tên sản phẩm</th>
									<th>Tên hãng</th>
									<th>Thể loại</th>
									<th>Giá</th>
									<th>Ảnh đại diện</th>
									<th>List Ảnh</th>
									<th>Giảm giá</th>
									<th>Số lượng</th>
									<th>Mô tả</th>
									<th>Update</th>
									<th>Tình trạng</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>MV01-TONY STARK</td>
									<td>Tượng Iron Man-mẫu hot 2020 bản Real 1:1</td>
									<td>Marvel</td>
									<td>Mô hình</td>
									<td>10.000.000 VNĐ</td>
									<td><img src="images/logo.webp" alt="" width="100" ></td>
									<td>img/xxx.png,</td>
									<td>20</td>
									<td>100</td>
									<td>Tượng này rất đẹp,bền.<a href="#">Xem thêm</a></td>
									<td>2020-07-18 16:46:20</td>
									<td>1</td>
									<td>
										<button type="button" class="btn btn-primary">Sửa</button><br>
										<button type="button" class="btn btn-danger">Xóa</button>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- END Product View Table -->

