*{
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 15px;
}

/*header*/
#header{
	padding-top: 5px;
}

#user-cart{
	padding-top: 5px;
}
#span-user{
	padding-right: 10px;
}
a .icon-header{
	color: #000;
}
a .icon-header:hover{
	color: red;
}
a:hover{
	text-decoration: none;
}
/*end*/
/*menu-nav*/
/*.fixed{
	position: fixed;
	top: 0;
}*/
#menu_nav li a:hover{
	background: black;
	color: #fff;
}
#menu_nav li a{
	margin: 0 0px 0 30px;
	color: #F12828;
	background-color: #000;
}
/*set dropdown*/
#check1 li a{
	background-color: #fff;
	color: red;
	margin:0 auto;
}
#check2 li a{
	background-color: #fff;
	color: red;
	margin:0 auto;
}
#check3 li a{
	background-color: #fff;
	color: red;
	margin:0 auto;
}
.dropdown{
	position: relative;
}
#nav-bar{
	margin: 0 auto;
	background-color: black;
	/*margin-top: 20px;*/

}
#nav-bar .dropdown-menu{
	display: none;
	position: absolute;
	
}
#nav-bar .dropdown:hover .dropdown-menu{
	display: block;
}
/*body*/
/*sản phẩm*/
.set-text-intro{
	text-align: center;
}
.set-line-up{
	height: 1px;
	background-color: #000;
	margin-top: 45px;
}
.set-line-down{
	height: 1px;
	background-color: #000;
	margin-top: 5px;
}
.thumbnail{
	text-align: center;
	overflow: hidden;
}
.button_group{
	margin: 0 3px 5px 3px;
}
.add-cart{
	padding: 9px 30px;
}
.button{
	border-radius: 10px;
	background-color: #fff;
}
.button:hover{
	background-color: #40E55B;
	border: 0;
}
/*intro*/
#intro{
	padding-top: 20px;
}
/*end*/
/*product*/
.set{
	position: relative;
}
.set .shower{
	position: absolute;
	top: 140px;
	left: 70px;
	display: none;
}
.set:hover .shower{
	display: block;
}
.thumbnail:hover{
	box-shadow:2px 2px 2px 2px #635B5B;
}

.thumbnail .set a img{
	transition-duration: 0.3s;
}
.thumbnail .set a img:hover{
	 transform: scale(1.1);
}

/*footer*/
.fa{
	color: #C9CCCE;
	padding-right: 5px;
}
.fa:hover{
	color: #F0F2F0;
	
}

/*end*/

/*chỉnh thẻ li table cart.html*/
.table>thead>tr>th{
	text-align: center;
}
.table>tbody>tr>td{
	text-align: center;
    border: 1px solid #E1E1E1;
    vertical-align: middle;
    padding: 10px;
    border-left: none;
}


.shippingbox {
    margin: 5px 20px;
    border: 1px solid #E1E1E1;
    padding: 30px ;
    float: left;
    width: 100%;
 }

 /*dropdown show-all.html*/
/*demo1*/
 #demo{
 	list-style: none;
 	background-color: #fff;
 }
 #demo a li{
 	padding: 10px 20px;
 	color: #333333;
 }
 #demo a{
	text-decoration: none;
 }
 #demo a li:hover{
 	color:  #1F9EF7;
 }
 .nav-item a{
 	 color: #333333;
 }
 .nav-item a:hover{
 	background-color: #fff;
 	color: #1F9EF7;
 }
 /*end*/
 /*demo2*/
 #demo2{
 	list-style: none;
 	background-color: #fff;
 }
 #demo2 a li{
 	padding: 10px 20px;
 	color: #333333;
 }
 #demo2 a{
	text-decoration: none;
 }
 #demo2 a li:hover{
 	color:  #1F9EF7;
 }
 .nav-item a{
 	 color: #333333;
 }
 .nav-item a:hover{
 	color: #1F9EF7;
 }
 /*end*/
 /*demo3*/
 #demo3{
 	list-style: none;
 	background-color: #fff;
 }
 #demo3 a li{
 	padding: 10px 20px;
 	color: #333333;
 }
 #demo3 a{
	text-decoration: none;
 }
 #demo3 a li:hover{
 	color:  #1F9EF7;
 }
 .nav-item a{
 	 color: #333333;
 }
 .nav-item a:hover{
 	color: #1F9EF7;
 }
 .detail_modal{
 	min-height: 450px;
 }
 .list_img_detail{
 	cursor: pointer;
 	width: 100%;
 }
 #action_user_head{
 	padding-top: 5px;
 	position: relative;
 }
 #cart_nums{
 	border-radius: 100%;
 	background: #ff6517;
 	color: white;
 	padding:0px 6px;
 	line-height: 20px;
 	position: absolute;
 	top:-6px;
 	left: 80px;
 }
 .addshadow{
 	box-shadow:2px 2px 2px 2px #635B5B;
 }
 /*end*/
/*search file*/
#item-group{
	background-color: #EFEFEF;
	border:1px solid #fff;
	color: #7A7272;
}
/*end*/
/*file user*/
.submit-user input[type='submit']{
	text-align: center;
	background-color: #303249;
	color: #fff;
}
.submit-user input[type='submit']:hover{
	background-color:#F12828;
}
.adjust-form{
	padding:10px;
	border: 1px solid #807878;
	margin-bottom: 20px;
}
.adjust-text-form{
	text-align: center;
}
.brand_img{
	width: 134px;
	height: 100px;
}
a .iconfa_user{
	color: #000;
}
a .iconfa_user:hover{
	color: #337ab7;
}
.userbox{
	box-shadow:1px 1px 1px 1px #DCE6EC;
	
	margin-bottom: 10px;

}
#tbl_ordered tbody tr td{
	border: 0px none;
}
.btn_viewall{
	border-radius: 40px;
	padding: 10px 35px;
}
.tittle_footer{
	color: #fff;
	font-weight: bold;
}

/*end*/
/*thuong hieu*/
@media (min-width: 992px){
.col-md-3a{
	float: left;
    width: 20%;
    padding: 20px;
}
}
/*end*/