*{
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 15px;
}
.wrapper{
	position: relative;
}
/*header*/
#header{
	padding-top: 5px;
}

#user-cart{
	padding-top: 5px;
}
#span-user{
	padding-right: 10px;
}
a .icon-header{
	color: #000;
}
a .icon-header:hover{
	color: red;
}
a:hover{
	text-decoration: none;
}
/*cart-hover*/
#show-cart:hover .cart_hover-frame{
	display: block;
}
.cart_hover-frame{
	position: absolute;
	z-index: 1;
	top: 40px;
	right: 200px;
	width: 300px;
	list-style: none;
	background-color: #fff;
	border: 1px solid #919191;
	border-radius: 15px;
	transform-origin: 100% top;
	animation: cart-hoverGrowth ease-in 0.3s;
	display: none;
	color: #000;
}
.cart_hover-frame ul li{
	list-style: none;
}

@keyframes cart-hoverGrowth{
	from{
		opacity: 0;
		transform: scale(0);
	}
	to{
		opacity: 0.5;
		transform: scale(1);
	}
}
.light-red{
	color: #FA3535;
}
.total{

	float: left;
	padding: 10px 20px 30px 40px;
}	
.checkout{
	float: left;
	padding:5px;
	margin-top: 5px;
	margin-left: 10px;
	background-color: #FA3535;
	border: 0px solid #FA3535;
	border-radius: 10px;
	color: #fff;

}
/*end*/

/*menu-nav*/
/*.fixed{
	position: fixed;
	top: 0;
}*/
#menu_nav li a:hover{
	background: black;
	color: #fff;
}
#menu_nav li a{
	margin: 0 0px 0 30px;
	color: #F12828;
	background-color: #000;
}
/*set dropdown*/
#check1 li a{
	background-color: #fff;
	color: red;
	margin:0 auto;
}
#check2 li a{
	background-color: #fff;
	color: red;
	margin:0 auto;
}
#check3 li a{
	background-color: #fff;
	color: red;
	margin:0 auto;
}
.dropdown{
	position: relative;
}
#nav-bar{
	margin: 0 auto;
	background-color: black;
	/*margin-top: 20px;*/
	
}
#nav-bar .dropdown-menu{
	display: none;
	position: absolute;
	
}
#nav-bar .dropdown:hover .dropdown-menu{
	display: block;
}
/*body*/
/*sản phẩm*/
.set-text-intro{
	text-align: center;
}
/*.set-line-up{
	height: 1px;
	background-color: #000;
	margin-top: 45px;
}
.set-line-down{
	height: 1px;
	background-color: #000;
	margin-top: 5px;
}*/
.thumbnail{
	
	overflow: hidden;
}
.button_group{
	margin: 0 3px 5px 3px;
}
.add-cart{
	padding: 9px 30px;
}
.button{
	border-radius: 10px;
	background-color: #fff;
}
.button:hover{
	background-color: #40E55B;
	border: 0;
}
/*intro*/
.intro{
	text-align: center;
}

.intro h4{
	color: red;
}

/*end*/



/*product*/
.set div{
	position: relative;
}
.set div .shower{
	position: absolute;
	top: 50%;
	left: 30%;

	display: none;
}
.set:hover .shower{
	display: block;
}
.thumbnail:hover{
	box-shadow:2px 2px 2px 2px #635B5B;
}

.thumbnail .set div img{
	transition-duration: 0.3s;
}
.thumbnail .set div img:hover{
	 transform: scale(1.1);
}

/*footer*/
.fa{
	color: #C9CCCE;
	padding-right: 5px;
}
.fa:hover{
	color: #F0F2F0;
	
}

/*end*/

/*chỉnh thẻ li table cart.html*/
.table>thead>tr>th{
	text-align: center;
}
.table>tbody>tr>td{
	text-align: center;
    border: 1px solid #E1E1E1;
    vertical-align: middle;
    padding: 10px;
    border-left: none;
    border-right: none;
}


.shippingbox {
    margin: 5px 20px;
    border: 1px solid #E1E1E1;
    padding: 30px ;
    float: left;
    width: 100%;
 }

 /*dropdown show-all.html*/
/*demo1*/
 #demo{
 	list-style: none;
 	background-color: #fff;
 }
 #demo a li{
 	padding: 10px 20px;
 	color: #333333;
 }
 #demo a{
	text-decoration: none;
 }
 #demo a li:hover{
 	color:  #1F9EF7;
 }
 .nav-item a{
 	 color: #333333;
 }
 .nav-item a:hover{
 	background-color: #fff;
 	color: #1F9EF7;
 }
 /*end*/
 /*demo2*/
 #demo2{
 	list-style: none;
 	background-color: #fff;
 }
 #demo2 a li{
 	padding: 10px 20px;
 	color: #333333;
 }
 #demo2 a{
	text-decoration: none;
 }
 #demo2 a li:hover{
 	color:  #1F9EF7;
 }
 .nav-item a{
 	 color: #333333;
 }
 .nav-item a:hover{
 	color: #1F9EF7;
 }
 /*end*/
 /*demo3*/
 #demo3{
 	list-style: none;
 	background-color: #fff;
 }
 #demo3 a li{
 	padding: 10px 20px;
 	color: #333333;
 }
 #demo3 a{
	text-decoration: none;
 }
 #demo3 a li:hover{
 	color:  #1F9EF7;
 }
 .nav-item a{
 	 color: #333333;
 }
 .nav-item a:hover{
 	color: #1F9EF7;
 }
 .detail_modal{
 	min-height: 450px;
 
 }
 #at_img{
 	margin-left: 20%;
 }
 .list_img_detail{
 	cursor: pointer;
 	width: 100%;
 }
 #action_user_head{
 	padding-top: 5px;
 	position: relative;
 }
 #cart_nums{
 	border-radius: 100%;
 	background: #ff6517;
 	color: white;
 	padding:0px 6px;
 	line-height: 20px;
 	position: absolute;
 	top:-6px;
 	left: 80px;
 }
 .addshadow{
 	box-shadow:2px 2px 2px 2px #635B5B;
 }

 .title_note{
 	text-align: center;
    font-style: italic;
    font-size: 16px;
    color: gray;
    margin-top: 10px;	
 }
 /*end*/
/*search file*/
#item-group{
	background-color: #EFEFEF;
	border:1px solid #fff;
	color: #7A7272;
}
/*end*/
/*file user*/
.submit-user input[type='submit']{
	text-align: center;
	background-color: #303249;
	color: #fff;
}
.submit-user input[type='submit']:hover{
	background-color:#F12828;
}
.adjust-form{
	padding:10px;
	border: 1px solid #807878;
	margin-bottom: 20px;
}
.adjust-text-form{
	text-align: center;
}
.brand_img{
	width: 134px;
	height: 100px;
}
a .iconfa_user{
	color: #000;
}
a .iconfa_user:hover{
	color: #337ab7;
}
.userbox{
	box-shadow:1px 1px 1px 1px #DCE6EC;
	
	margin-bottom: 10px;

}
#tbl_ordered tbody tr td{
	border: 0px none;
}
.btn_viewall{
	border-radius: 40px;
	padding: 10px 35px;
}
.tittle_footer{
	color: #ECE7E7;
	font-weight: bold;
}
.price_main_product{
	  color: #b2008d;
    font-size: 25px;
    font-weight: 600;
    margin-right: 10px;
}
.price_discount_product{
	color: #7d7d7d;
	font-size: 20px;
	text-decoration: line-through;
}
.btn_buynow{
	border-radius: 5px;
	padding-bottom: 40px;
	height: 48px;
    width: 200px;
    font-size: 14px;
    text-transform: uppercase;
    background: #7dc558;
}
.cart_icon{
	color: white;
}
.list_img_product{
	padding-top: 10px;
 	padding-bottom:  10px;
	width: 100%;
	cursor: pointer;
}
.list_img_product:hover{
	transform: scale(1.1);
}
.related_img{
	width: 100%;
}
#box_show_product{
	min-height: 700px;
	
}
#box_price{
	min-height: 700px;
	position: relative;
}
#like_share_product{
	position: absolute;
	top: 500px;

}
#frm_raiting{
	margin-top: 100px;
}
.star{
	width: 30px;

}
.star:hover{
	transform: scale(1.1);
}
.star_val{
	display: none;
}
#visited_box{
	margin-bottom: 20px;
}
.list_img_visited{
	width: 100%;
}
.list_img_visited:hover{
	transform: scale(1.1);
}
.input-group-addon~input[type="text"]{
	height: 50px;
}
#bank_info{
	text-align: center;color: gray;
}
#checkout_user{
	position: relative;
}
#checkout_user_txt{
	position: absolute;top: 0px;left: 70px
}
.checkout_cart_box{
	position: relative;
}
.checkout_product_name{
	position: absolute;
	top:10px;
	left: 120px;
	font-weight: bold;
	width: 250px;
}
.checkout_product_price{
	position: absolute;
	top:30px;
	left: 400px;
	color: red;
	font-size: 18px;
}
.checkout_product_qty{
	position: absolute;
	border-radius: 100%;
	background: #ff6517;
	padding:0px  6px;
	top: 2px;
	left: 2px;
	color: white;
	z-index: 2
}
/*end*/
/*back-to top arrow*/
.back-top{
	position: fixed;
	bottom: 40px;
	right: 40px;
	font-size: 25px;
	width: 40px;
	height: 40px;
	padding-left: 3px;
	background: #EB3232;
	color: #fff;
	border: 0px solid #fff;
	border-radius: 10px;
	box-sizing: border-box;
	display: none;
}	
.product_box{
	min-height: 600px;
}
.caption{
	margin-top: 10px;
}
.caption_price_left{
	color: #E92020;font-weight: bold;
}
.caption_price_right{
	color: #7d7d7d;
	font-size: 14px;
	text-decoration: line-through;
	margin-left:60px;
}
/*end*/
/*thuong hieu*/
@media (min-width: 992px){
.col-md-3a{
	float: left;
    width: 20%;
    padding: 20px;

}
/*end*/