/*Responsive dành cho điện thoại nhỏ iphone X đổ xuống*/
	@media only screen and (min-width:414px) and (max-width:736px){
		#show-cart:hover .cart_hover-frame{
			display: none;
		}
		.caption_price_left{
			display: block;
		}
		.caption_price_right{
			display: block;
			margin-left:0px;
		}
		.product_box{
			min-height: 435px;
		}
		.set:hover .shower{
			display: none;
		}
		#iframe_page_fb{
			margin-left: -20px;
			width:300px;
		}
		.back-top{
			bottom: 15px;
			left: 10px;
		}
		.cart-icon{
			top:500px;
		}
		.intro{
			display: none
		}
		#input_search_top{
			width: 150px;
			margin-left: -20px;

		}
		.fb-customerchat{ /*Điện thoại thì ẩn chat FB*/
			display: none; 
		}

		.brand_img{
			width: 130%;
			margin-bottom: 5px;
		}

		.box_listimg_detail{
			margin-bottom: 30px;
			margin-top: 30px;
		}
		#at_image{
			display: none;
		}



		.bt-navtop-res{
			margin-right: 70px;
		}
		.navbar-toggle {
			float: left; 
		}
		/*ẩn input navhead*/
		.input-navhea{
			display: none;
		}
		.input-res{
			margin-top: 10px;
			display: block;
		}
		/*ẩn icon user và cart*/
		#reload_cartbox{
			display: none;
		}
		.icon-nav-res{
			display: block;
		}
		#cart_nums{
			padding: 0 1;
			margin-left: -25px;
		}
		.res-nav{
			display: block;
		}
	/*dropdown nav header*/
	/*demo1*/
	#demo4{
		list-style: none;
		background-color: #000;
	}
	#demo4 a li{
		padding: 10px 20px;
		color: #fff;
	}
	#demo4 a{
		text-decoration: none;
	}
	/*end*/
	/*demo2*/
	#demo5{
		list-style: none;
		background-color: #000;
	}
	#demo5 a li{
		padding: 10px 20px;
		color: #fff;
	}
	#demo5 a{
		text-decoration: none;
	}
	/*end*/
	/*demo3*/
	#demo6{
		list-style: none;
		background-color: #000;
	}
	#demo6 a li{
		padding: 10px 20px;
		color: #fff;
	}
	#demo6 a{
		text-decoration: none;
	}
	/*end*/
	.res-nav li a{
		color: red;
	}
	.res-nav li a:hover{
		color: red;
		background: #000;
	}

	/*user - info*/
		#userbox_main{
			width: 250px;
			height: 100px;
		}
		/*end*/
		#change_pass{
			width: 250px;
			min-height: 200px;
			/*overflow: auto;*/
		}
		#table-info-user{
			width: 350px;
			min-height: 200px;
			overflow: auto;
		}
		/*end*/


}