*{
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 15px;
	box-sizing: border-box;
}
body{
	background: #1F1F1F;
}
marquee{
	color: #DBCD02;
}
#main_content{
	background: white;min-height: 1000px;
}
h4.center_text{
	color: red;text-decoration:underline;
}
#logo_link{
	padding-left: 60px
}
.center_text{
	text-align: center;
}
#header-fluid{
	background: black;
}
#header{
	background: black;
	border: none;
}
#footer{
	color: white;
	text-align: center;
	padding:20px 0px;
}
#footer-fluid{
	background: #302D2D;
}


.input-admin{
	height: 80px;
	width: 400px;
	margin: 0px auto;
	font-size: 20px;
}
#tittle_text_loginadmin{
	text-align: center;color: gray
}
#loginadmin_option{
	width:400px;margin: 0 auto;
}
#input-admin-bottom{
	margin-top:-10px;
}


#frm_login-admin{
	position: relative;
	height: 300px;
	margin-left: 10px;

}
#frm_login-admin table{
	margin-left: 90px;
	margin-top: 20px;
}
#btn-login-admin{
	height: 80px;
	width: 400px;
	font-size: 20px;


}
a:hover{
	text-decoration: none;
}
#menu_left{
	min-height: 800px;background: #1F1F1F;
}
.list-group-item{
	background: #1F1F1F;
	border:none;
	height: 50px;
}
.list-group-item a{
	color: #C5C3C3;
	display: block;
	width: 100%;
}
.list-group-item a:hover{
	color: white;
}
.list-group-item:hover{
	background: black;
}
.panel-green{
	border:solid 1px #5cb85c;
}
.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}
.panel-green > a {
    color: #5cb85c;
}
.panel-yellow{
	border:solid 1px #f0ad4e;
}
.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}
.panel-yellow > a {
    color: #f0ad4e;
}
.panel-red{
	border:solid 1px #d9534f;
}
.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}
.panel-red > a {
    color: #d9534f;
}
#logo_text_loginadmin{
	text-align: center;
}